* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
    font-family: 'Roboto', Arial !important;

}


body {
 background-color:#000000;
    color: #ffffff;
    /* overflow-y: hidden;  */
    overflow-x: hidden;
}