.movieTitle {

    max-width: 15rem;
    white-space: nowrap;
    font-size: 1.3rem;
    text-align: center;
    margin: .2rem auto;
    overflow: hidden;
    text-overflow: ellipsis;

}

.imgdiv {

    position: relative;
	transition: transform 0.2s;
    /* overflow-x: hidden; */

}


.imgdiv:hover {

    cursor: pointer;
	transform: scale(1.1);
}

.imgdiv:hover .overlay {
	opacity: 1;

}

.overlay {
    
    position: absolute;
    background-color: rgba(0, 0, 0, 0.8);
    width: 100%;
    transition: 0.5s ease;
    opacity: 0;
    bottom: 2rem;
    font-size: 5rem;
    font-size: 20px;
    padding: 20px;
    text-align: center;

}

.imgdiv img {
height: 20rem;
margin: 1rem;
}





/* 
@media screen and (max-width: 700px) {

 
    .imgdiv img {
    
        width: 100vw;
        margin: auto;

    }
    
} 

@media screen and (min-width: 1001px) {

    .container {

        width: 100vw;

    }

    .imgdiv img {

        width: 20rem;
        margin: auto .5rem;

    }
    
}


@media screen and (min-width: 701px) and (max-width: 1000px) { 
    .container {
        width: 100vw;
    }
    .imgdiv img {
        margin: auto 1.2rem;
        width: 20rem;
    }
} */