body {
    overflow-x: hidden;
    padding: 0;
    margin: 0;
    background-color: #f0f0f0; /* Light background color for the body */
    font-family: Arial, sans-serif;
}

.App {
    overflow-x: hidden;
    padding: 0;
    margin: 0;
}
 
 .navbar {

    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color:#121212;
    color:  #ffffff;
    width: 100vw;
    height: 4rem;
    padding: 1rem;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 100; 
    overflow-y: hidden;
    margin-bottom: 5rem;

}



.App {
    overflow-x: hidden;
    padding: 0;
    margin: 0;
}

.container {
    
        margin-top: 5rem;
        overflow-x: auto;
        white-space: nowrap;
        display: flex;
        gap: 1rem; /* Adjust the gap between movies as needed */
        padding-left: .5rem; 
        /* height: 100vh; */
     
    
}

.fav{
    
    margin-top: 2rem;
 
}

.favourites {
    /* margin-top: 5rem; */
    overflow-x: auto;
    white-space: nowrap;
    display: flex;
    gap: 1rem; /* Adjust the gap between movies as needed */
    padding-left: .5rem; 
    /* height: 100vh; */

}
